a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}

.nav-link:hover,
.navbar-brand:hover {
  text-decoration: none;
}

footer a,
footer a:hover {
  color: #adadad;
}

.nav-link.active {
  text-decoration-style: dotted;
  text-decoration-line: underline;
  text-underline-offset: 8px;
}

.skip-to-content-link {
  background: #e77e23;
  left: 8px;
  padding: 8px;
  position: absolute;
  top: -1000px;
  z-index: 1000;
  transition: transform 0.3s;
  text-decoration: none;
  color: white;
}

.skip-to-content-link:focus {
  top: 8px;
}

.hero-slider {
  position: relative;
  height: 100vh;
  /* min-height: 400px; */
}

.hero-slider .slide {
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-slider .overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 8px;
}

.slider {
  overflow-x: hidden;
}

.slide-text {
  margin-left: 11%;
}

.slide1 {
  background: url("../images/hero1.JPG") center/cover no-repeat;
}
.slide2 {
  background: url("../images/hero2.JPG") center/cover no-repeat;
}
.slide3 {
  background: url("../images/hero3.JPG") center/cover no-repeat;
}

#corporate-overview-section p {
  font-size: 20px;
}

#news-section {
  background-color: #003057;
  color: white;
}

.news-content-div {
  border-bottom: 1px solid #adadad;
}

#events-section {
  overflow: hidden;
}

#events-section a {
  color: black;
}

.events-container-div,
.events-div {
  position: relative;
}

.events-div {
  z-index: 1;
}

#filings-section {
  /* background-color: #003057; */
  color: white;
}

#filings-section a {
  border: white 1px solid;
}
#filings-section a:hover {
  text-decoration: none;
  background-color: white;
  color: #003057;
}

#filings-section .view-all-link {
  border: none;
}

#filings-section .view-all-link:hover {
  background-color: transparent;
  color: white;
}

.view-all-link {
  border: none;
}

.view-all-link:hover .arrow {
  transform: translateX(5px);
}

.arrow {
  margin-left: 5px;
  display: inline-block;
  transition: transform 0.2s ease;
}

.table-custom {
  --bs-table-bg: transparent;
  --bs-table-color: white;
  --bs-table-border-color: #adadad;
}

#footer {
  background-color: #003058;
  color: #adadad;
}

.consent-div {
  padding-left: 40px;
  margin-bottom: 20px;
}

.bg-gradient-light-blue {
  background: linear-gradient(to left, #003058 0%, #005ba1 100%);
}

.bg-gradient-blue {
  background: linear-gradient(to left, #00192f 0%, #0d3b5c 100%);
}

.custom-dots-div {
  position: absolute;
  bottom: 10%;
  left: 10%;
  width: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.slick-dots {
  display: flex;
  position: relative;
  width: auto;
  bottom: 0;
}

.slick-dots li button:before {
  font-size: 8px;
  /* dot size */
  color: white;
  /* inactive dot color */
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  color: white;
  /* active dot color */
  opacity: 1;
}

.play-pause-btn {
  background: none;
  color: white;
  font-size: 22px;
  border: none;
  outline: none;
}

.play-pause-btn:focus {
  outline: none;
  box-shadow: none;
}

.events-background {
  /* for dektop */
  left: 0;
  z-index: -1;
  background: #fafafa 50%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
}

.icon {
  display: inline-block;
  margin-right: 4px;
}

.small-text {
  font-size: 0.8rem;
}

/* small to medium */
@media (max-width: 768px) {
  .events-background {
    left: 50%;
    transform: translateX(-50%);
  }
}
